* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

.header__container {
    background-image: linear-gradient(
                to right,
                #2a76b8,
                #6633cc,
                #c72850
            );
    color: white;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__container{
    width: 100%;
    background-color: #6633cc;
    position: relative;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.banner__container figure{
    margin: 0;
    padding: 0;
}
.banner__text{
    position: absolute;
    color: white;
    top: 5rem;
    left: 10%;
}
.banner__text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.banner__btn_primary{
    background-color: #fff;
    color: #2E008B;
    border: none;
    padding: 12px 16px;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.banner__btn_primary:hover{
    background-color: #5d3e9d !important;
    transform: scale(1.1);
    color: #fff;
}
.banner__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.table__container{
    width: 100%;
    max-width: 1200px;
    transform: translateY(-140px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.table__controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.table__controls input{
    width: 100%;
    display: inline-block;
    border: 0;
}
.table__controls input:focus{
    outline: none;
}
.table__controls select{
    border: 0;
}

.data__table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 1rem;
}

.data__table th.active {
    background-color: #a7bbdd;
    font-weight: 600;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

th {
    background-color: #f9fafb;
    text-align: left;
    cursor: pointer;
}
.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.3;
    padding: 2rem;
}
.footer__container img{
    filter: invert(1);
    margin-bottom: 1rem;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.show {
    display: flex;
}

.modal__content {
    background: #fff;
    padding: 2rem;
    width: 400px;
    border-radius: 8px;
}

.modal__content h2 {
    margin-bottom: 1rem;
}

.modal__content input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 2rem;
    border: none;
    background-color: #f3f3f3;
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: right;
    gap: .5rem;
}
.modal__actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
.modal__actions button:first-child{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.modal__actions button:last-child {
    background-color: #2E008B;
    color: #fff;
}